@font-face {
  font-family: 'icon-sheet';
  src: url('/icon-sheet.ttf?t=1694606713696') format('truetype'), url('/icon-sheet.woff?t=1694606713696') format('woff'), url('/icon-sheet.woff2?t=1694606713696') format('woff2');
}

.icon,
.icon-sheet {
  font-family: 'icon-sheet' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}